[workspace]
authors = ["Matthew Feickert <matthew.feickert@cern.ch>"]
channels = ["conda-forge"]
description = "pyhf user guide"
name = "pyhf-tutorial"
platforms = ["linux-64", "osx-64", "osx-arm64"]
version = "0.7.6"

[dependencies]
python = ">=3.13.9,<3.14"
pyhf = "0.7.6.*
uproot = ">=5.6.8,<6"
iminuit = ">=2.32.0,<3"
matplotlib-base = ">=3.10.8,<4"
requests = ">=2.32.5,<3"
# visualization
ipywidgets = ">=8.1.8,<9"
ipympl = ">=0.9.8,<0.10"
pandas = ">=2.3.3,<3"
altair = ">=6.0.0,<7"
rich = ">=14.2.0,<15"
# comparison
root_base = ">=6.36.4,<7"

[feature.lab.dependencies]
notebook = ">=7.5.0,<8"
jupyterlab = ">=4.5.0,<5"

[feature.lab.tasks.lab]
description = "Launch Jupyer Lab and explore the user guide notebooks"
cmd = "jupyter lab"

[feature.book.tasks.build]
description = "Build the Jupyter Book"
cmd = "jupyter-book build"
cwd = "book"

[feature.book.tasks.clean]
description = "Remove the Jupyter Book build"
cmd = "jupyter-book clean && rm -rf ./_build"
cwd = "book"

[feature.book.tasks.start]
description = "Serve the Jupyter Book as a website"
cmd = "jupyter-book start"
cwd = "book"

[feature.book.dependencies]
jupyter-book = ">=2.0.2,<3"

[feature.jupyterlite.tasks.build-lite]
description = "Build JupyterLite version of book"
cmd = """
jupytext --to notebook lite/jupyterlite.py && \
mv lite/*.ipynb  book/ && \
jupyter lite init && \
jupyter lite build --contents=book && \
jupyter lite check
"""
inputs = ["lite/jupyterlite.py"]
outputs = ["_output"]

[feature.jupyterlite.tasks.serve]
description = "Serve the built JupyterLite page"
cmd = "jupyter lite serve"
depends-on = ["build-lite"]

[feature.jupyterlite.tasks.clean-lite]
description = "Remove the JupyterLite outputs"
cmd = """
rm -rf .jupyterlite.doit.db _output && \
rm -rf book/jupyterlite.ipynb
"""

[feature.jupyterlite.dependencies]
jupyterlite = ">=0.6.4,<0.7"
jupyterlite-pyodide-kernel = ">=0.6.1,<0.7"
jupytext = ">=1.18.1,<2"

[environments]
lab = ["lab"]
book = ["book"]
jupyterlite = ["jupyterlite"]
